<!DOCTYPE html > <html lang="en" xmlns="http://www.w3.org/1999/xhtml" > <style> {
    margin-right:auto; margin-left:auto;
    width: 600px;
}
#title {  
    font-family:'Baskerville Old Face';
    font-size:30px;
    text-align:center;
    color:#0000CC;
}
#img {
    position:absolute;
    right: 100px;
    top: 240px;
    width: 200px;
    height: 200px;
}
#header {
    font-family:'Baskerville Old Face';
    font-size:30px;
    text-align:left;
    color:#663399;
}
</style> </body>
</html>