<!DOCTYPE html > <html lang="en" xmlns="http://www.w3.org/1999/xhtml" > <style> {
    margin-right:auto; margin-left:auto;
    width: 600px;
}
</style > <head > </head > <body > <style > #Webform {
    border: solid;
    border-width:5px;
    border-color: #006600; 
    padding:10px;
}
</style> </body>
</html>


